<div class="container">
  <div class="row">
    <h4>Ajouter un nouvel</h4>
    <!-- Début du formulaire -->
    <form class="col s12" [formGroup]='form' (ngSubmit)="addArticle()" >
      <div class="row">
        <div class="input-field col s12">
          <input id="titre" type="text" class="validate"  formControlName='titre' required>
          <label for="titre">Titre de votre article</label>
        </div>
      </div>
      <div class="file-field input-field">
          <div class="btn light-green darken-3">
            <span>Image</span>
            <input type="file" formControlName='image' required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="para" class="materialize-textarea validate" formControlName='para' required ></textarea>
          <label for="para">Paragraphe</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="auteur" type="text" formControlName='auteur' class="validate" required>
          <label for="auteur">Auteur</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="parution" type="date" class="validate" formControlName="parution" required>
          <label for="parution">Parution</label>
        </div>
      </div>    
      <button class="btn waves-effect waves-light  green accent-4" type="submit"  [disabled]="form.invalid" routerLink="/admin" >Enregistrer
        <i class="material-icons right">save</i>
      </button>
  </form>
  </div>
</div>