<div class="container">
  <div class="black">
    <h3 class="center white-text">Administration</h3>
  </div>
  <app-ajout-article></app-ajout-article>
  <hr>
  <div class="row">
    <h4>Mes articles</h4>
      <table class="centered col s12">
        <thead class="grey darken-4 white-text">
          <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Image</th>
            <th>Paragraphe</th>
            <th>Auteur</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <!-- J'utilise le 'pipe asyn' pour lister les document de ma base de donnée que se sont des 'observables' -->
          <!-- Ici 'articles' est le tableau ou dans le quel à été envoyé les données de la base -->
          <tr *ngFor="let article of articles | async">
            <td> {{article.id}} </td>
            <td> {{article.titre}} </td>
            <td><img src="assets/images/{{article.image}}" alt=""></td>
            <td><p> {{article.para}}</p> </td>
            <td> {{article.auteur}} </td>
            <td><a class="waves-effect waves-light btn  red darken-4" (click)="removeArticle(article.id)"><i class="material-icons ">delete</i></a></td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
